body {
    font-family: Helvetica, Arial;
  }

#chart {
    height: 500px;
    font-size: 11px;
    width: 960px;
    margin: auto;
  }

  .node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }

  .gradient-link {
    fill: none;
    stroke-opacity: .5;
  }

  h1 {
    font-size: 1.4rem;
  }


  .node {
    cursor: pointer;
  }

  .node text {
    font: 15px sans-serif;
    pointer-events: none;
  }
  
  .link {
    fill: none;
    stroke:#000;
    stroke-width: 2px;
    stroke-opacity: .12;
  }
  
  .node circle {
    /* fill: #fff;
    stroke: steelblue; */
    stroke-width: 3px;
  }

  .d3-funnel-tooltip{
    display: block!important;
    font-weight: normal!important;
    border:none!important;
    background:white!important;
    font-size: 12px!important;
  }
  
  .legends{
    position: fixed;
    top: 1px;
    z-index: -1;
    left:5px;
  }
  
  .main{
      position: relative;
      top: 99px;
      z-index: 5
  }
  